.topContainer {
  background-image: url('../../public/259894.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 150px;
  box-shadow: inset 7px -12px 61px 113px rgba(0, 0, 0, 0.48);
}
